<div class="navbar sticky-top navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <%= link_to root_path, class: "navbar-brand" do %>
      <h3 class="m-0">Locally</h3>
    <% end %>

    <div>
      <div class="d-flex align-items-center justify-content-center">
        <% if user_signed_in? %>
          <% if Localler.where(user: current_user).any? %>
            <div class="d-flex flex-column align-items-center form-switch the-toggle me-2">
              <%= simple_form_for current_user.localler, data: {controller: "availability-toggle"} do |f| %>
                <%= f.input :availability, as: :boolean, label: "test", id: "toggle-button", input_html: { data: {action: "click->availability-toggle#available click->availability-toggle#toggleLabel"}, class:"toggle"} %>
              <% end %>
            </div>
          <% elsif current_page?(new_localler_path) %>
          <% else %>
            <a href=""><%= link_to "Become a Localler", new_localler_path, class: "green-button-become2" %></a>
          <% end %>
          <a href="#" class="avatar" id="navbarDropdown" data-bs-toggle="dropdown">
            <%= cl_image_tag current_user.profile_picture.key, class: "avatar", alt: "dropdown menu" %>
          </a>

            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <%= link_to "My Profile", dashboard_path, class: "dropdown-item" %>
              <%= link_to "My Messages", chats_path, class: "dropdown-item" %>
              <%= link_to "Log Out", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item" %>
            </div>

          <% else %>
          <div class="nav-item">
            <%= link_to "Log in", new_user_session_path, class: "nav-link" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
