<div class="navbar sticky-top navbar-expand-sm navbar-light navbar-2">
  <div class="container-fluid">
    <%= link_to root_path, class: "navbar-brand" do %>
      <h3 class="m-0 ps-3">Locally</h3>
    <% end %>

    <div>
      <div class="d-flex align-items-center justify-content-center pe-3">
        <% if user_signed_in? %>

          <% if Localler.where(user: current_user).any? %>
            <div class="d-flex align-items-center form-check form-switch the-toggle">
              <%= simple_form_for current_user.localler, data: {controller: "availability-toggle"} do |f| %>
                <%= f.input :availability, as: :boolean, label: false, input_html: { data: {action: "click->availability-toggle#available"}, class:"toggle"} %>
              <% end %>
            </div>
          <% else %>
            <a href=""><%= link_to "Be a Localler", new_localler_path, class: "green-button-become" %></a>
          <% end %>

          <a href="#" class="avatar" id="navbarDropdown" data-bs-toggle="dropdown">
            <%= image_tag "https://avatars.githubusercontent.com/u/162796074?v=4", class: "avatar", alt: "dropdown menu" %>
          </a>

            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <%= link_to "My Profile", dashboard_path, class: "dropdown-item" %>
              <%= link_to "My Messages", chats_path, class: "dropdown-item" %>
              <%= link_to "Log Out", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item" %>
            </div>

          <% else %>
          <div class="nav-item">
            <%= link_to "Log In", new_user_session_path, class: "nav-link" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
