<div class="messages-index">
  <div class="container">

  <h2><i class="fa-solid fa-envelope"></i> My Messages</h2>
    <% if @chats.any? %>
      <% @chats.each do |chat| %>
        <div class="card card-chats">
        <div class="card-body">
          <div class="card-title">
            <% if current_user != chat.localler.user %>
              <h4 class="fw-bold"><%= chat.localler.user.username %></h4>
              <p><%= chat.messages.last.present? ? truncate(chat.messages.last.content, length: 80) : "No messages yet" %></p>
            <% else %>
              <h4 class="fw-bold"><%= chat.user.username %></h4>
              <p><%= chat.messages.last.present? ? truncate(chat.messages.last.content, length: 80) : "No messages yet" %></p>
            <% end %>
          </div>
          <div class="text-center">
            <%= link_to "Open chat", chat_path(chat), class:"green-button-chat w-100" %>
          </div>
        </div>
        </div>
      <% end %>
    <% else %>
      <p class="pt-4 text-center">You currently have no open chats...</p>
      <div style="width:100%;height:0;padding-bottom:56%;position:relative;"><iframe src="https://giphy.com/embed/jc2PkKKr3clTBekMzn" width="100%" height="100%" style="position:absolute" frameBorder="0" class="giphy-embed" allowFullScreen></iframe></div><p><a href="https://giphy.com/gifs/hero0fwar-sad-pablo-escobar-jc2PkKKr3clTBekMzn"></a></p>
    <% end %>
  </div>
</div>
