<div class="bg-index">
  <div class="pages">
    <div class="container pb-3">
      <h2><i class="fa-solid fa-arrows-rotate"></i> Locallers around</h2>

      <div class="carousel">
        <div class="card-carousel-container">
          <% @activities.each do |activity| %>
            <div class="card-carousel"><%= link_to activity.title, locallers_path(filter: activity.title, query: params[:query]),
            class: "#{params[:filter] == activity.title ? "my-button-active" : "my-button"}" %>
            </div>
          <% end %>
        </div>
      </div>

      <div style="width: 100%; height: 300px;"
        data-controller="map"
        data-map-markers-value="<%= @markers.to_json %>"
        data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
      </div>

      <div>
        <% @locallers.each do |localler| %>
          <%= link_to localler_path(localler) do %>
            <div class="card-locallers d-flex">
              <%= cl_image_tag localler.user.profile_picture.key, class: "avatar-card", alt: "profile picture" %>
              <div class="card-info">
                <div class="d-flex justify-content-between align-items-top mb-2">
                  <div>
                    <h3 id="name-card-index-page"><%= localler.user.username %> - <%= localler.location %></h3>
                  </div>
                    <% if (localler.availability) == true %>
                      <i class="fa-solid fa-circle" id="available-green"></i>
                    <% else %>
                      <i class="fa-solid fa-circle" id="available-orange"></i>
                    <% end %>
                </div>
                <div>
                  <p> <%= localler.description %> </p>
                </div>
                <div>
                  <% localler.activities.each_with_index do |activity, i| %>
                    <% if (i + 1) == localler.activities.length %>
                      <p class="my-button"><%= activity.title %></p>

                      <p class="my-button"><%= activity.title %> | </p>
                    <% end %>
                  <% end %>
                </div>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
