<div class="pages">

<div class="container">

  <h2><i class="fa-solid fa-arrows-rotate"></i> Locallers around</h2>

    <div class="pt-4">
      <% @activities.each do |activity| %>
        <%= link_to activity.title, locallers_path(filter: activity.title), class: "my-button" %>
      <% end %>
    </div>

    <div style="width: 100%; height: 600px;"
      data-controller="map"
      data-map-markers-value="<%= @markers.to_json %>"
      data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>

    <div>
      <% @locallers.each do |localler| %>
        <%= link_to localler_path(localler) do %>
          <div class="card-locallers">
            <h3> <%= localler.user.username %> </h3>
            <p> <%= localler.user.bio %> </p>
            <% localler.activities.each do |activity| %>
              <p class="my-button"><%= activity.title %></p>
            <% end %>
          </div>
        <% end %>
      <% end %>
    </div>

  </div>
</div>
