<div class="bg-index">
  <div class="pages">

    <div class="container pb-3">
      <div class="local-block d-flex align-items-center">
        <%= cl_image_tag @localler.user.profile_picture.key, alt: "avatar", class: "rounded-circle img-fluid border-2", style: "width: 100px; height: 100px; object-fit: cover" %>
        <div class="ms-4">
          <h3><%= @localler.user.username %></h3>
          <p class="city"><%= @localler.location %></p>
        </div>
      </div>

      <div class="local-bio">
        <h3>About me</h3>
        <p><%= @localler.description %></p>
      </div>

      <hr class ="line">

      <div>
        <h3>Activities I like</h3>
        <div>
          <ul>
            <% @localler.activities.each do |activity| %>
              <li><%= activity.title %></li>
            <% end %>
          </ul>
        </div>
        <div class='let-chat'>
          <% if @localler.user != current_user %>
            <% if Chat.where(localler: @localler, user: current_user).any? %>
              <%= link_to "Let's chat!", chat_path(Chat.find_by(localler: @localler, user: current_user)), class: "green-button-chat" %>
            <% else %>
              <%= link_to "Let's chat!", chats_path(localler: @localler), data: {turbo_method: :post}, class: "green-button-chat" %>
            <% end %>
            <% link_to "Back", :back, class: "green-outline-button-chat" %>
          <% end %>
        </div>
      </div>


      <div style="width: 100%; height: 300px;"
        data-controller="map-show"
        data-map-show-markers-value="<%= @markers.to_json %>"
        data-map-show-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>
      <% # link_to "Back", :back, class: "text-light" %>
    </div>
  </div>
</div>
